spring:
  application:
    name: monew
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false  # 자동 실행 방지
  jackson:
    time-zone: Asia/Seoul

  config:
    import: optional:file:.env[.properties]

jpa:
  properties:
    hibernate:
      format_sql: true
      dialect: org.hibernate.dialect.PostgreSQLDialect

task:
  scheduling:
    pool:
      size: 1

management:
    endpoint:
        health:
            show-details: never  # 기본은 상세 정보 숨김
    endpoints:
        web:
            exposure:
                include: health  # 최소한의 헬스체크만 허용