spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:monew}
    username: ${DB_USERNAME:monew_user}
    password: ${DB_PASSWORD:monew1234}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate  # 운영에서는 validate로 안전하게

  data:
    mongodb:
        uri: mongodb+srv://${MONGO_USER}:${MONGO_PASSWORD}@cluster0.zclecbn.mongodb.net/monew-prod?retryWrites=true&w=majority
        uuid-representation: standard

logging:
  level:
    root: WARN
    com.monew: INFO
    org.springframework: WARN
    org.hibernate.SQL: OFF
    org.hibernate.type: OFF

custom:
  activity-service-strategy: mongo  # 기본 전략

naver:
  api:
    client-id: ${NAVER_API_CLIENT_ID}
    client-secret: ${NAVER_API_CLIENT_SECRET}

aws:
  s3:
    access-key: ${AWS_S3_ACCESS_KEY}
    secret-key: ${AWS_S3_SECRET_KEY}
    region: ${AWS_S3_REGION}
    bucket: ${AWS_S3_BUCKET}

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, metrics
  endpoint:
    health:
      show-details: never
  prometheus:
    metrics:
      export:
        enabled: true
