global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'spring-actuator'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['54.180.159.88:8080']  # 현재 EC2 public ip로 하드 코딩
      # - targets: ['host.docker.internal:8080'] # 로컬용


